.header {
  margin-top: 45px;
  height: 74px;
  border-bottom: 1px solid #545454;
}
@media screen and (max-width: 820px) {
  .header__logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 620px) {
  .header {
    height: 56px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
  }
}
