.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 820px) {
  .header__logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 620px) {
  .header {
    min-height: 56px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
  }
}
