.modal__container_preview {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  padding: 0;
}

/* pop up preview image  */
.modal__image {
  max-width: 100%;
  max-height: 540px;
  object-fit: cover;
}

.modal__caption {
  margin-top: 10px;
  height: 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 291px;
  font-weight: 400;
  line-height: 14.52px;
  font-size: 12px;
}
